In [10]:
import pandas as pd

In [17]:
glaxo_ci=pd.read_csv('C:\\Users\\lenovo\\OneDrive\\data science\\Priyanka DS\\glaxo_df.csv')
glaxo_ci

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [18]:
beml_ci=pd.read_csv('C:\\Users\\lenovo\\OneDrive\\data science\\Priyanka DS\\beml_df.csv')
beml_ci

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1134.60 -0.000881
1     2010-01-06  2010-01-06  1139.60  0.004407
2     2010-01-07  2010-01-07  1144.15  0.003993
3     2010-01-08  2010-01-08  1144.05 -0.000087
4     2010-01-11  2010-01-11  1137.00 -0.006162
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26   950.25 -0.021924
1734  2016-12-27  2016-12-27   975.70  0.026782
1735  2016-12-28  2016-12-28   974.40 -0.001332
1736  2016-12-29  2016-12-29   986.05  0.011956
1737  2016-12-30  2016-12-30  1000.60  0.014756

[1738 rows x 4 columns]

In [24]:
g_ci_mean=glaxo_ci.gain.mean()

In [25]:
g_ci_std=glaxo_ci.gain.std()

In [26]:
b_ci_mean=beml_ci.gain.mean()

In [27]:
b_ci_std=beml_ci.gain.std()

In [28]:
glaxo_ci.isnull().sum()

Date      0
Date.1    0
Close     0
gain      0
dtype: int64

# confidence interval

In [29]:
from scipy import stats
#for gain column

In [41]:
glaxo_gain_ci=stats.norm.interval(0.95,loc=g_ci_mean,scale=glaxo_ci.gain.std())
print('mean at 95% confidence interval', glaxo_gain_ci)

mean at 95% confidence interval (-0.025800133293883094, 0.026572215459067683)

In [42]:
beml_gain_ci=stats.norm.interval(0.95,loc=b_ci_mean,scale=b_ci_std)
print('mean at 95% confidence interval',beml_gain_ci)

mean at 95% confidence interval (-0.05153272968060135, 0.052074225838715835)

In [43]:
#for close column
glaxo_close_ci=stats.norm.interval(0.95,loc=glaxo_ci.Close.mean(),scale=glaxo_ci.Close.std())
print('mean at 95% confidence interval',glaxo_close_ci)

mean at 95% confidence interval (1473.9076583378264, 3592.399533837084)

In [44]:
beml_close_ci=stats.norm.interval(0.95,loc=beml_ci.Close.mean(),scale=beml_ci.Close.std())
print('mean at 95% confidence interval',beml_close_ci)

mean at 95% confidence interval (-2.2657980053249958, 1398.6331742999153)

In [ ]:
#if pop std dev is known-Z test
#if sample std dev is known T test